<div class="flex justify-between items-center px-10 h-[80px]">
  <h4
    (click)="home()"
    class="cursor-pointer text-white text-[1.5rem] font-bold"
  >
    Blabber
  </h4>
  <button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <i class="fa-solid fa-bars text-[1.25rem]"></i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="dashboard()">
      <span>Dashboard</span>
    </button>
    <button mat-menu-item (click)="logout()">
      <span>Logout</span>
    </button>
  </mat-menu>
</div>
