<app-topnav></app-topnav>
<div class="px-20 min-h-[95vh]">
  <div
    class="shadow-lg px-2 border-r-2 rounded-md border-r-[#353535] border-l-2 border-l-[#353535] border-b-2 border-b-[#353535]"
  >
    <div class="px-[12px]">
      <small class=" border-[1px] px-2 py-1 border-white rounded-full">{{ translate(blogData.tagID) }}</small>
      <p class="text-[2rem] font-bold">{{ blogData.blogTitle }}</p>
      <small class="text-[0.8rem]"
        ><span class="font-bold">{{ blogData.authorName }}</span> /
        {{ blogData.blogCreatedDate }}</small
      >
    </div>
    <quill-view
      [content]="blogData.blogContent"
      format="html"
      theme="snow"
      [sanitize]="true"
      class="text-[5rem] p-0"
    ></quill-view>
  </div>
</div>
