@if(blogData !== undefined){ @if(blogData.public) {
<div class="border-2 border-[#353535] rounded-lg boxShadow">
  <div class="px-4 py-2">
    <div class="flex gap-2">
      @for (item of tagsArr; track $index) {
      <small class="border-2 px-2 py-1 border-[#353535] rounded-full">{{
        translate(item)
      }}</small>
      }
    </div>
    <h2 class="text-[2rem] font-bold">{{ blogData.blogTitle }}</h2>
    <small class="text-[0.8rem]"
      ><span class="font-bold">{{ blogData.authorName }}</span> /
      {{ blogData.blogCreatedDate }}</small
    >
  </div>
  <quill-view
    [modules]="[]"
    [content]="blogData.blogContent"
    format="html"
    theme="bubble"
    class="text-[5rem] p-0 max-w-[70%]"
  ></quill-view>
</div>
} @else {
<h4 class="text-center">That Content is set to private</h4>
} } @else {
<h4 class="text-center">Can't find the content ;(</h4>
}
