<!-- <app-topnav></app-topnav> -->
<div class="flex gap-2 min-h-[95vh]">
  <div
    class="w-[20%] min-h-full shadow-md flex flex-col items-center py-5 gap-2 border-r-2 border-r-[#353535]"
  >
    <!-- <div class="flex items-center justify-center w-full">
      <label
        for="dropzone-file"
        class="flex flex-col rounded-full items-center justify-center w-[80%] aspect-square border-2 border-gray-300 border-dashed cursor-pointer hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600"
      >
        <input id="dropzone-file" type="file" class="hidden" />
      </label>
    </div> -->
    <div *ngIf="$author | async as author">
      <img
        (click)="openDialog()"
        [src]="PORT + author.data[0].authorImg"
        alt="profile"
        class="w-[80%] aspect-square rounded-full mx-auto cursor-pointer"
      />
      <h4 class="text-[1.25rem] text-center">
        Welcome! {{ author.data[0].authorName }}
      </h4>
    </div>
    <button
      (click)="createBlog()"
      class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700"
    >
      Create Post +
    </button>
  </div>
  <div class="w-full">
    <div class="px-10 mx-auto">
      <form
        class="w-full py-4"
        [formGroup]="filterForm"
        (submit)="filterSearch($event)"
      >
        <label
          for="default-search"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white bg-[#ac8cfc]"
          >Search</label
        >
        <div class="relative">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
          </div>
          <input
            type="search"
            id="default-search"
            class="w-full bg-transparent p-4 ps-10 text-sm border-0 text-white focus:rounded-lg focus:ring-0 border-b-2 border-[#353535]"
            placeholder="Search for blog title"
            formControlName="word"
            required
          />
          <button
            type="submit"
            class="text-white absolute end-2.5 bottom-2.5 bg-[#ac8cfc] focus:ring-4 focus:outline-none rounded-lg text-sm px-4 py-2 font-bold"
          >
            Search
          </button>
        </div>
      </form>
      @for (blog of blogDisplay; track $index) {
      <div
        (click)="readBlog(blog.blogID)"
        class="border-b-2 border-b-[#353535] grid grid-cols-3 max-h-[200px] gap-3 py-3 cursor-pointer shadow-md rounded-md mb-4"
      >
        <div class="flex flex-col">
          <h4>
            <!-- {{ translate(blog.tagID) }} | -->
            {{ blog.public ? "Public" : "Private" }}
          </h4>
          <p class="text-[1.5rem] font-bold text-ellipsis overflow-hidden">
            {{ blog.blogTitle }}
          </p>
          <small>{{ blog.author }} | {{ blog.blogCreated }}</small>
        </div>
        <div>
          <p class="text-ellipsis overflow-hidden max-h-[160px]">
            {{ blog.sumContent }}
          </p>
        </div>
        <img
          [src]="blog.imgSRC"
          alt="img"
          class="max-h-[160px] w-full aspect-video"
          onerror="this.onerror=null; this.src='/assets/images.png'"
        />
      </div>
      } @empty {
      <h4 class="text-center text-[1.5rem] font-bold">No Post yet!</h4>
      }
    </div>
  </div>
</div>
