<app-topnav></app-topnav>
<div class="flex h-[95vh] justify-between">
  <div class="flex flex-col items-center w-full">
    <div class="w-[1148px]">
      <form action="" [formGroup]="blogForm">
        <input
          type="text"
          placeholder="Title"
          class="h-[32px] w-full"
          formControlName="blogTitle"
        />
      </form>
    </div>
    <quill-editor class="h-[90%] w-[70%]" [(ngModel)]="text"></quill-editor>
  </div>
  <div class="w-[200px] flex flex-col h-full shadow-xl px-2 py-1 gap-2">
    <button (click)="onSubmit()" class="bg-blue-400 text-white">Publish</button>
    <select
      name="tag"
      id="tags"
      *ngIf="$tagSub | async as tags"
      (change)="selectTag($event)"
    >
      @for (tag of tags.data; track $index) {
      <option [value]="tag.tagID">{{ tag.tagTitle }}</option>
      }
    </select>
  </div>
</div>
