<app-topnav></app-topnav>
<div class="flex h-[90vh] justify-between">
  <div class="flex flex-col items-center w-full">
    <div class="w-[1148px]">
      <form action="" [formGroup]="blogForm">
        <input
          type="text"
          placeholder="Title"
          class="h-[32px] w-full"
          formControlName="blogTitle"
        />
      </form>
    </div>
    <quill-editor class="h-full" [(ngModel)]="text"></quill-editor>
  </div>
  <div class="w-[124px]"><button (click)="onSubmit()">Publish</button></div>
</div>
